#texto1{
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
justify-content: center;
font-family: 'Rubik Mono One', sans-serif;
background-color: #30d8f2;
}

#noticiasContainer {
    border: 1px outset #ff0379;
  background-color: #ffc403;
  text-align: center;
}